# CMake stuff we don't want
plugins/J3/CMakeFiles
plugins/J3/cmake_install.cmake
plugins/J3/CMakeCache.txt
plugins/J3/Makefile

# X-Plane stuff we dont want
J3.acf~
J3_prefs.txt
J3-Floats.acf~
J3-Floats_prefs.txt
J3-Tundra.acf~
J3-Tundra_prefs.txt